<div class="form-group">
  <label for="firstName">First Name:</label>
  <input type="text" class="form-control" id="firstName" name="firstName" required>
</div>

<div class="form-group">
  <label for="lastName">Last Name:</label>
  <input type="text" class="form-control" id="lastName" name="lastName" required>
</div>

<div class="form-group">
  <label for="email">Email:</label>
  <input type="text" class="form-control" id="email" name="email" required>
</div>

<div class="form-group">
  <label for="phoneNumber">Phone Number:</label>
  <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
</div>

<div class="form-group">
  <label for="favLanguage">Favorite Language:</label>
  <select class="form-control" id="favLanguage" required>
    <option *ngFor="let lang of languages" [value]="lang">{{lang}}</option>
  </select>
</div>

<button type="button" class="btn btn-default">Submit</button>

